# GumBot config file

config = {
	"servers": [("127.0.0.1", 6667)],
	"nick": "GumBot",
	"botname": "IRC <-> Skype Bot",
	"password": "",
    "secret": "change_me",
	"vhost": False,
	"mirrors": {
        "#example": "blob"
	},
    "modules": {
#        "example": {},
#        "quotes": {"url": "", "http-user": "", "http-pass": "", "channels": ["#example"]},
    }
}
